tiktoken # openai calculate token

#voice
pydub # need ffmpeg
SpeechRecognition # google speech to text
gTTS # google text to speech
pyttsx3 # pytsx text to speech
baidu_aip # baidu voice
azure-cognitiveservices-speech # azure voice
edge-tts # edge-tts
numpy
langid # language detect
elevenlabs # elevenlabs TTS

#install plugin
dulwich

# wechatmp && wechatcom
web.py
wechatpy

# chatgpt-tool-hub plugin
chatgpt_tool_hub

# xunfei spark
websocket-client

# claude bot
curl_cffi
# claude API
anthropic

# tongyi qwen
broadscope_bailian

# google
google-generativeai

# dingtalk
dingtalk_stream

# zhipuai
zhipuai

# tongyi qwen new sdk
dashscope
